{% extends "department/base.html" %}
{% block title %}BroadWay Courses{% endblock title %}
{% block header %}
    {% include "department/header.html" %}
{% endblock header %}

{#{% block content %}#}
{#    <table border="1" cellpadding="10">#}
{#    <th>Course Name</th>#}
{#    <th>Fee</th>#}
{#    <th>Trainer Name</th>#}
{#    {% for course in data %}#}
{#        <tr>#}
{#            <td>{{ course.course_name }}</td>#}
{#            <td>{{ course.fees }}</td>#}
{#            <td>{{ course.trainer_name }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </table>#}
{#{% endblock content %}#}

