{% extends "base.html" %}
{% load static %}
{% block title %}Blogs{% endblock %}

{% block header-content %}
    <link href="{% static 'blogs/css/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block page-header %}
    {% include 'header.html' %}
{% endblock %}
{% block page-content %}

    <table class="table">
        {% for blog in bloglist %}
            <tr>
                <div class="card">
                    <div class="card-header">
                        {{ blog.title }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.author }}</h5>
                        <p class="card-text">{{ blog.text }}</p>
                        <a href="#" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </tr>
        {% endfor %}
    </table>

{% endblock %}